
<div id="overlay" class="overlay"></div>
<div class="secside">
    <div class="sidebar close">
        <header class="headInfo">
            <div class="image-text">
                <span class="image">
                    <img src="<%= user.profileImage %>" alt="<%= user.username %>'s Profile Image"
                        onerror="this.onerror=null; this.src='/public/img/profileImage/userDefalt.jpg';" />
                </span>
                <div class="text header-text">
                    <span class="name">
                        สวัสดี <%= user.username %>
                    </span>
                </div>
            </div>
            <div class="arrow-close" id="arrow-btn">
                <i class="bx bx-chevron-right toggle"></i>
            </div>
        </header>
        <div class="line"></div>
        <div class="menu-bar">
            <ul class="menu-link">
                <li class="nav-links menu-item" active>
                    <a href="/AdminDashboard">
                        <i class='bx bxs-dashboard' id="icon"></i>
                        <span class="text navbar-text">แดชบอร์ด</span>
                    </a>
                </li>
                <li class="nav-links menu-item">
                    <a href="/SystemAnnouncements">
                        <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-megaphone-fill" viewBox="0 0 16 16">
                            <path
                                d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0zm-1 .724c-2.067.95-4.539 1.481-7 1.656v6.237a25 25 0 0 1 1.088.085c2.053.204 4.038.668 5.912 1.56zm-8 7.841V4.934c-.68.027-1.399.043-2.008.053A2.02 2.02 0 0 0 0 7v2c0 1.106.896 1.996 1.994 2.009l.496.008a64 64 0 0 1 1.51.048m1.39 1.081q.428.032.85.078l.253 1.69a1 1 0 0 1-.983 1.187h-.548a1 1 0 0 1-.916-.599l-1.314-2.48a66 66 0 0 1 1.692.064q.491.026.966.06" />
                        </svg>
                        <span class="text navbar-text">ประกาศระบบ</span>
                    </a>
                </li>
                <li class="nav-links menu-item">
                    <a href="/ReportUserProblem">
                        <i id="icon" class='bx bx-info-circle'></i>
                        <span class="text navbar-text">รายงานปัญหา</span>
                    </a>
                </li>
                <li class="nav-links menu-item">
                    <a href="/UserAccountManagement">
                        <svg id="icon" fill="none" height="20" viewBox="0 0 14 14" width="20"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <clipPath id="a">
                                <path d="m0 0h14v14h-14z" />
                            </clipPath>
                            <g clip-path="url(#a)" stroke="#ffff" stroke-linecap="round" stroke-linejoin="round">
                                <path
                                    d="m5 5.5c1.38071 0 2.5-1.11929 2.5-2.5s-1.11929-2.5-2.5-2.5-2.5 1.11929-2.5 2.5 1.11929 2.5 2.5 2.5z" />
                                <path
                                    d="m4.5 12.5h-4v-.5421c.007961-.7623.208977-1.51.58427-2.17342.3753-.66346.91263-1.22098 1.5618-1.62047.64918-.3995 1.38902-.62792 2.15041-.66397.06788-.00321.13574-.00489.20352-.00504.06778.00015.13565.00183.20353.00504.65023.03078 1.28473.20188 1.86048.5" />
                                <path d="m13.5 8.50003-4.71003 4.70997-2.13.29.3-2.13 4.70003-4.70997z" />
                            </g>
                        </svg> <span class="text navbar-text">การจัดการบัญชีผู้ใช้</span>
                    </a>
                </li>
                <li class="nav-links menu-item">
                    <a href="/adminPage/addAdmin">
                        <i id="icon" class='bx bx-user-plus'></i>
                        <span class="text navbar-text">สร้างบัญชีผู้ดูแลระบบ</span>
                    </a>
                </li>
                <li class="nav-links menu-item">
                    <a href="/SettingAdmin">
                        <i id="icon" class='bx bx-cog'></i>
                        <span class="text navbar-text">การตั้งค่า</span>
                    </a>
                </li>
                
                <li class="nav-links menu-item">
                    <a href="/logout">
                        <i id="icon" class='bx bx-log-out'></i>
                        <span class="text navbar-text">ออกจากระบบ</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="/public/script/adminScript/partials_admin.js"></script>
